body{
    background-color: rgb(173, 130, 10);
}
.ab{
    color:rgb(88, 80, 4);
}
header{
    background-color: rgb(230, 215, 11);
    height: 3cm;
    
}
.bold{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 10px;
}
header h1{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 10px;
}
header nav{
    text-align: center;
}
header nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.925);
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 0 5px;
    transition: background-color 0.3s ease; /* تحديد التأثير الانتقالي */
}

header nav a:hover {
    background-color: rgba(244, 242, 242, 0.3); /* لون الخلفية عند تحريك المؤشر */
}


.p ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.p li img {
    
    width: 100%;
}


.p li {
    display: inline-block;
    padding: 0px 70px 0px 25px;
    width: 300px;
   
}
.p li p,h3{
    text-align:left;
}
footer{
    background-color: rgb(59, 61, 57);
    height: 1.5cm;
    
}
footer p,a{
    text-align: center;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    
}
.menu{
    padding: 60px 20px 11px 20px;
}
